<div id="header">
  <div>
    <a href="/"><img border="0" class="header1" src=
    "http://d1zymp9ayga15t.cloudfront.net/images/cp_logo_smaller.png" width="400"></a> <a href=
    "http://www.broadinstitute.org/"><img alt="Broad Institute logo"
    border="0" class="header2" height="68" src=
    "http://d1zymp9ayga15t.cloudfront.net/images/BroadInstituteLogo_smaller.png" width="220"></a>
    <div id="navigation">
      <hr>

      <ul>
        <li>
          <a href="/" id="header_main">Home</a>
        </li>

        <li>
          <a href="#" id="header_getting_started" onclick=
          "return false;">Getting started</a>
          <ul>
            <li>
              <a href="/faq.html">What is CellProfiler? FAQ</a>
            </li>

            <li>
              <a href="/examples.html">examples</a>
            </li>

            <li>
              <a href="/tutorials.html">tutorials</a>
            </li>

            <li>
              <a href=
              "http://d1zymp9ayga15t.cloudfront.net/content/CellProfilerSoftwareBrochure.pdf">brochure</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="/releases" id="header_download">Download</a>
        </li>

        <li style="width:109px;text-align:center;">
          <a href="#" id="header_help" onclick="return false;">Help</a>
          <ul>
            <li>
              <a href="http://forum.cellprofiler.org/">forum</a>
            </li>

            <li>
              <a href="/supportplan.html">support plan</a>
            </li>

            <li>
              <a href="http://www.broadinstitute.org/bbbc/">BBBC</a>
            </li>

            <li>
              <a href=
              "https://github.com/CellProfiler/CellProfiler/wiki">for
              developers</a>
            </li>

            <li>
              <a href="/manuals.html">manuals</a>
            </li>

            <li>
              <a href="/wormtoolbox/index.html">WormToolbox</a>
            </li>

            <li>
              <a href="/imagingflowcytometry/index.html">Imaging Flow Cytometry</a>
            </li>
          </ul>
        </li>

        <li>
          <a href="#" id="header_aboutus" onclick="return false;">About
          us</a>
          <ul>
            <li>
              <a href="/about.html">CellProfiler Team</a>
            </li>

            <li>
              <a href="/impact.html">impact</a>
            </li>

            <li>
              <a href="/press.html">press</a>
            </li>

            <li>
              <a href="/citations.html">citations</a>
            </li>

            <li>
              <a href="/outreach.html">outreach</a>
            </li>

            <li>
              <a href="/interfaces.html">interfaces</a>
            </li>

            <li>
              <a href="/news.html">news</a>
            </li>
          </ul>
        </li>

        <li class="navsearch">
          <form action="http://google.com/search" method="get" onsubmit=
          "location.href = this.action + '?&q=%2Bsite:cellprofiler.org+' + this.query.value; return false;">
          <input maxlength="255" name="query" size="20" type="text"
            value=""> <input type="submit" value="search">
          </form>
        </li>
      </ul>
      <br>

      <hr style="clear:left;margin-top:15px;">
    </div>
  </div>
</div>
