<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>CellProfiler</title>

    <meta name="description" content="">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="/stylesheets/application.css">

    <script src="/javascripts/libraries/modernizr-2.8.3.min.js">

    </script>
  </head>

  <body>
    <div id="mainwrapper">
      {% include header.html %}

      <div id="content">
        {{ content }}
      </div>

      {% include footer.html %}
    </div>

    <script src="https://code.jquery.com/jquery-2.2.0.min.js">

    </script>

    <script>
      window.jQuery || document.write('<script src="javascripts/libraries/jquery-2.2.0.min.js"><\/script>')
    </script>
  </body>
</html>
